[Desktop Entry]
Name=deezer
StartupNotify=true
Icon=/usr/share/deezer/app.ico
MimeType=text/plain;
Comment=Deezer audio streaming service
Exec=/usr/bin/deezer
Terminal=false
Type=Application

